@use "../styles/variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: v.$primary;
  color: v.$white;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  color: v.$secondary;
  text-decoration: none;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: color.adjust(v.$secondary, $lightness: 15%);
  }
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
