@use "../styles/variables" as v;
@use "../styles/mixins" as m;

.hero {
  @include m.flex-center;
  height: v.$hero-height;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url('../public/images/background-frontend.jpg') center/cover;
  color: v.$white;
  text-align: center;
  padding: 0 20px;

  .hero-text {
    h1 {
      font-size: 3rem;
      font-weight: bold;
    }

    p {
      font-size: 1.2rem;
      margin-top: 10px;
    }
  }

  @include m.responsive(medium) {
    .hero-text {
      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  @include m.responsive(small) {
    .hero-text {
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}
